* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
}

.gridContainer {
    display: grid;
    width: 100%;
    padding: 2px;
    height: 100%;
    grid-template-columns: repeat: 70% 30%;
    grid-template-rows: 30px, 1fr;
    gap: 5px;
    grid-template-areas: "header header" "main aside";
}

.gridItem {
    border: 1px solid rgb(214, 16, 16);
    border-radius: 40px;
    background-color: blueviolet;
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
}

.aside {
    grid-area: aside;
}

.quatro {
    grid -area: quatro;
}