.containerCard {
    margin: 10px;
    display: flex;
    flex-direction: normal;
    gap: 12px;
    width: 100%;
    padding: 2px;
    height: 100%;
    flex-wrap: wrap;
}

.itemCard {
    border: 3px solid rgb(214, 16, 16);
    border-radius: 40px;
    margin: 1%;
    width: 90%;
    padding: 10px;
    height: 90%;
    flex-wrap: wrap;
}

.itemCard img {
    width: 90%;
    padding: 2px;
    height: 90%;
}