            * {
                box-sizzing: border-box;
                margin: 0;
            }
            
            @import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@1,500&display=swap');
            .titulo {
                background-color: rgb(46, 43, 243);
                Color: rgb(22, 24, 21);
                text-align: center;
                font-family: 'Genos', sans-serif;
                font-size: 60px;
                font-style: oblique;
                font-weight: 200;
                padding: 20px;
            }
            
            @import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@1,500&display=swap');
            .sites {
                background-color: rgb(43, 243, 43);
                Color: rgb(22, 24, 21);
                text-align: center;
                font-family: 'Genos', sans-serif;
                font-size: 40px;
                font-style: italic;
                font-weight: 100;
                padding: 20px;
            }
            
            @import url('https://fonts.googleapis.com/css2?family=Shalimar&display=swap');
            .curiosidades {
                Color: rgb(37, 238, 121);
                text-align: left;
                font-family: 'Shalimar', cursive;
                font-size: 15px;
                font-style: italic;
                font-weight: 200;
                background-color: rgb(35, 5, 104);
                padding: 20px;
            }
            
            main {
                display: block;
            }
            
            html {
                margin: auto;
                height: 100%;
            }
            
            .bg {
                background-color: #0845c0;
                background-repeat: no-repeat;
                background-size: cover;
                background-attachment: fixed;
                background-position: center;
                color font-weight: bold;
                margin: 0;
                height: 100%;
            }
            
            #videos1 {
                width: 50%;
                height: 50%;
                padding: 2px;
                position: center;
                border-image-repeat: no-repeat;
                border: center;
            }
            
            #videos2 {
                width: 50%;
                height: 50%;
                padding: 2px;
                position: center;
                border-image-repeat: no-repeat;
                border: center;
            }
            
            .imagem1,
            .imagem2,
            .imagem3 {
                margin: 0;
                border: center;
            }
            
            fieldset {
                border: 4px solid;
            }
            
            .sites:hover {
                color: red;
                background-color: blueviolet;
            }
            
            @import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap');
            #rodape {
                font-family: 'Rajdhani', sans-serif;
                padding: 20px;
            }
            
            .curiosidades {
                Color: rgb(20, 53, 187);
                text-align: left;
                font-family: 'Shalimar', cursive;
                font-size: 15px;
                font-style: italic;
                font-weight: 200;
                background-color: rgb(209, 202, 224);
                padding: 20px;
            }
            
            #header {
                background color: rgb(255, 255, 255);
                border-radius: 50px solid transparent;
                background-image: center;
            }
            
            .formulario,
            .hobbies,
            .city,
            .idade {
                width: fit-content;
                background-color: aquamarine 4px solid;
                font style: italic;
                background font: blue;
            }
            
            #catedral {
                background-image src="./imagens/catedral de vitória.jpg ";
                background color: blue;
            }
            
            .titulo {
                background-color: rgb(32, 185, 29);
                font style: italic;
            }
            
            .hobbiespasseios {
                background-color: rgb(12, 144, 161);
            }
            
            .imagemfundo {
                background-image: url(../../images/praiadocanto.png);
                background-color: rgb(45, 67, 56);
                background-size: cover;
                color: transparent;
            }
            
            .legend {
                background color: red;
                font-size: 25px;
            }
            
            .botao {
                margin: 25px;
                width: 60px;
                height: 60px;
                border: 5px solid rgb(202, 25, 25);
                border-radius: 5px;
                background-color: rgb(214, 47, 150);
                color: white;
                font-size: 10px;
                transition-property: background-color;
                transition-timing-function: ease;
                transition-duration: .10s;
            }
            
            .botao:hover {
                background-color: rgb(44, 33, 33);
                font-weight: italic;
            }
            
            .anima3 {
                margin: 100px;
                width: 100px;
                height: 100px;
                border-radius: 50%;
                background-color: aqua;
                animation: voar 5s infinite;
            }
            
            @keyframes voar {
                40% {
                    opacity: 70%;
                }
                100% {
                    opacity: 60%;
                    transform: translateX(200px)
                }
            }
            
            @keyframes viajar {
                40% {
                    opacity: 70%;
                }
                0% {
                    opacity: 60%;
                    transform: rotateZ(10deg);
                }
            }
            
            .anime1 {
                width: 300px;
                margin: 120px;
                transition: .3s transform;
                animation: viajar 10s infinite;
            }
            
            .anime2:hover {
                transform: rotate3d(1, 2.0, 3.0, 10deg);
                animation: voar 30s infinite;
            }
            
            input:focus-visible {
                background-color: rgb(188, 233, 188);
            }
            
             :target {
                font-weight: bold;
            }
            
            a:link,
            a:visited {
                color: rgb(240, 235, 245);
                background-color: ;
                border-color: red;
            }