body header {
    background-color: aqua;
    grid-area: header;
    height: 100px;
}

body aside {
    background-color: blue;
    grid-area: aside;
    height: 600px;
}

body main {
    background-color: red;
    grid-area: main;
    height: 600px;
}

body footer {
    background-color: yellow;
    grid-area: footer;
    height: 150px;
}

body {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-areas: 'header header' 'aside main' 'footer footer';
}