* {
    box-sizzing: border-box;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@1,500&display=swap');
h1 {
    background-color: rgb(46, 43, 243);
    Color: rgb(99, 9, 76);
    text-align: center;
    font-family: 'Genos', sans-serif;
    font-size: 50px;
    font-style: oblique;
    font-weight: 200;
    padding: 20px;
}

@import url('https://fonts.googleapis.com/css2?family=Shalimar&display=swap');
p {
    Color: rgb(216, 233, 223);
    text-align: left;
    font-family: 'Shalimar', cursive;
    font-size: 15px;
    font-style: italic;
    font-weight: 200;
    background-color: rgb(35, 5, 104);
    padding: 20px;
    text-align: justify;
}

main {
    display: block;
}

body {
    margin: 100%;
    height: 100%;
}

.container {
    background-color: #082767;
    background-image: url("/imagens/terceira ponte.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: grid;
    display: flex;
    grid-template-columns: 150px 1fr 150px;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas: 'header header header' 'aside main main' 'footer footer footer'
}

header {
    grid-area: header;
}

aside {
    grid-area: aside;
}

main {
    grid-area: main;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

footer {
    grid-area: footer;
}

#videos {
    width: 50%;
    height: 50%;
    padding: 2px;
    position: right;
    border-image-repeat: repeat;
}

.imagens {
    margin: 90%;
    margin: 5px;
    border: center;
    display: flex;
}

@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap');
#rodape {
    font-family: 'Rajdhani', sans-serif;
    padding: 20px;
}

.curiosidades {
    Color: rgb(20, 211, 100);
    text-align: left;
    font-family: 'Shalimar', cursive;
    font-size: 15px;
    font-style: italic;
    font-weight: 200;
    background-color: rgb(209, 202, 224);
    padding: 20px;
}

@media (min-width: 460px) {
    media (min-width: 460px) .container {
        background-color: #082767;
        background-image: url(/imagens/terceira ponte.jpg);
        /* background-repeat: no-repeat; */
        /* background-size: cover; */
        /* background-attachment: fixed; */
        /* background-position: center; */
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
    }
}

.imagens,
.videos {
    margin: 96%;
    margin: 2px;
    display: flex;
    flex-direction: columns;
}